@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="@Url.Content("/images/colman-logo.png")" alt="Colman-logo" style="width: 200px;"/>
    <h1 class="display-4">Welcome To our Colman Web App!</h1>
    <p>Go to list - <a href="http://localhost:55923/categories/index">Categories</a>.</p>
    <p>Go to list - <a href="http://localhost:55923/customers/index">Customers</a>.</p>
    <p>Go to list - <a href="http://localhost:55923/products/index">Products</a>.</p>
    <p>Go to list - <a href="http://localhost:55923/purchases/index">Purchases</a>.</p>
    <p>Go to list - <a href="http://localhost:55923/suppliers/index">Suppliers</a>.</p>
</div>
